<div class="list-container">
  <!-- Button Group with Role-Based Visibility -->
  <div class="button-group">
    <button
      *ngIf="canManageAccounts()"
      [routerLink]="['/users']"
      class="action-button"
    >
      Manage Accounts (admin only)
    </button>
  </div>

  <h2>List of Houses</h2>

  <!-- Create House Button with Role-Based Visibility -->
  <button
    *ngIf="canCreateHouse()"
    [routerLink]="['/create-house']"
    class="create-button"
  >
    Create New House
  </button>

  <div class="house-list">
    <ul>
      <li *ngFor="let house of houses" class="house-item">
        <a [routerLink]="['/house', house.id]">{{ house?.address }}</a>

        <!-- Delete Button with Role-Based Visibility -->
        <button
          *ngIf="canDeleteHouse()"
          (click)="deleteHouse(house.id)"
          class="delete-button"
        >
          Delete
        </button>
      </li>
    </ul>
  </div>
</div>
